*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    font-family: 'Fira Sans', sans-serif;
}

/* ------------------ HEADER ------------------ */

/*    NAVBAR    */

.header {
    background-color: #EEE;
}

.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2em 2%;
}

.header__nav-ul {
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.header__nav-li {
    list-style: none;
    color: #999;
    font-size: 12px;

    &:hover {
        cursor: pointer;
        color: black;
    }
}

.header__quote {
    border: 1px solid black;
    border-radius: 3px;
    font-size: 12px;
    padding: 0.5rem 1.5rem;
    cursor: pointer; 
}

.ham-menu {
    display: none;
}

/*    HERO    */

section.hero {
    background-color: #EEE;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__h1 {
    font-size: 53px;
    text-align: center;
    font-weight: 600;
}

.hero__paragraph {
    font-size: 16px;
    color: rgba(34, 34, 34, 0.80);
    line-height: 150%;
    padding: 1rem 0 1rem 0;
    text-align: center;
}

.hero__button {
    padding: 2rem 1rem;
    cursor: pointer;
    appearance: none;
    border: none;
}

/* ------------------ MAIN ------------------ */

.products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.products__h1 {
    padding-top: 6rem;
    font-size: 53px;
    font-weight: 600;
    text-align: center;
}

.card-wrapper {
    display: grid;
    grid-template-areas: 
    "small small small small"
    "bigone bigone bigtwo bigtwo";
    gap: 2rem;
    margin: 40px auto; 
    }

/*    SMALL CARDS    */

.card{
    width: 350px;
    height: 100%;
    background-color: #EBEBEB;
    border-radius: 3px;
    }

.card__inner {
        text-align: center;
        padding-top: 4rem;
    }

.card__img {
    width: 100px;
    height: 100px;
}

.card__product {
    color: black;
    font-size: 22px;
    text-wrap: nowrap;
    padding-top: 6rem; /* obs */
}

.card__price {
    color: rgba(0, 0, 0, 0.80);
    font-size: 16px;
    line-height: 2;
}


/*    BIG CARDS    */

.card--big {
    background-color: #343332;
    color: white;
    /*height: 25vh; */
    border-radius: 3px;
    margin-top: 40px;
    height: 350px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#card-left {
    grid-area: bigone;
}
#card-right {
    grid-area: bigtwo;
}

.card__inner--big {
    padding-top: 0;
}

.card__headtitle {
    font-size: 32px;
} 

.card__subtitle {
    color: rgba(255, 255, 255, 0.60);
    font-size: 18px;
    padding: 0.5rem 0 1.5rem 0;
}

.card__button {
    padding: 1rem;
    background: #343332;
    color: rgba(255, 255, 255, 0.60);
    font-size: 12px;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.60);
    cursor: pointer;
}

/* ------------------ FOOTER ------------------ */

.footer {
    background-image: url(assets/footer-map.png);
    background-position: center;
    background-size: cover;

    color: black;
    height: 600px;
    padding: 2rem 15rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;     
}

/*    CONTACT TEXT    */

.footer__contact {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 3px;
    padding: 2rem 2rem 3rem 2rem;
}

.contact__header {
    font-size: 53px;
    text-align: left;
    font-weight: 600;
}

.contact__subheader {
    font-size: 22px;
    color: rgba(34, 34, 34, 0.80);
    padding-bottom: 0.5rem;
}

.contact__info {
    font-size: 14px;
    color: rgba(34, 34, 34, 0.60);
    padding-bottom: 1rem;
}

/*    CONTACT FORM    */

.contact-form {
    padding: 0.7rem 0;
}

input[type="text"], [type="email"], [type="tel"] {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 3px 3px rgba(20, 2, 2, 0.08);
    padding: 0.5rem;

    &:hover {
        box-shadow: 1px 1px 3px 3px rgba(20, 2, 2, 0.6);
    }

    &:focus {
        background-color: #f9f4f4;
    }
}

label {
    font-size: 14px;
}

.submit-button {
    display: flex;
    justify-content: flex-end;
}

.form__input__submit {
    border: none;
    background-color: 999;
    padding: 0.5rem 2.5rem;
    border-radius: 3px;
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);
    cursor: pointer;
    font-size: 15px;
    font-family: 'Fira Sans', sans-serif;
}

/* ------------------ ANIMATIONS ------------------ */

/*    CTA-buttons    */
.header__quote,
.hero__button, 
.form__input__submit
{
    transition: .2s ease-in-out;
    
    &:hover { transform: scale(1.04); } 
}

/*    SMALL CARDS    */
.card__img {
    animation: rotate 3s ease infinite alternate;     
}

@keyframes rotate {                    
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*    CHECK IT OUT-button on big card    */
.card__button {
    transition: transform 0.7s ease-in-out;

    &:hover {
        transform: rotate(360deg);   
    }
}

/* ------------------ MEDIA QUERIES ------------------ */

@media only screen and (max-width: 600px) {
    .header__nav-ul,
    .header__quote {
        display: none;
    }

    .ham-menu {
        display: block;
    }

    .hero__h1 {
        font-size: 40px;
        text-wrap: nowrap;
    }

    .hero__paragraph {
        padding: 1.5rem;
    }

    .hero__paragraph br {
        display: none;
    }

    .card-wrapper{
        display: grid;
        grid-template-areas: 
        "small small"
        "small small"
        "bigone bigone"
        "bigtwo bigtwo";
        gap: 12px;
        padding: 20px;
        margin: 0 auto;
    
        padding-bottom: 100px;
    }

    .card {
        width: 150px;
    }

    .card--big {
        height: 200px;
        width: 100%;
    }

    .footer {
        display: flex;
        justify-content: center;
        padding: 4rem 1rem;
    }
} 
